#top {
    padding-top: 50px;
}

h2 {
    text-align: center;
}

#container {
    padding-top: 10px;
    width: 1600px;
    height: 900px;
    margin: 0 auto;
}

#year {
    display: inline;
    float: none;
    text-align: center;
}